.form-container {
  margin-bottom: 0;
  margin-left: 260px;
  margin-top: 100px;
  padding-bottom: 24px;
  padding-left: 141px;
  padding-right: 14px;
  width: 560px;
}


.body{
  font-family: "Lucida Console";
}


.page-header .actions .btn {
  margin-top: 10px;
  font-size: 17px;
  font-family: monospace;
  background-color: transparent;
  border: none;
  outline: none;
}

.page-header {
  margin: 0;
  background: seagreen;
  border-radius: 8px;
}

.page-header .logo {
  color: #b1b1b1;
  font-family: cursive;
  font-size: 28px;
  margin-bottom: 77px;
  text-align: center;
}

.page-footer {
  height: 60px;
  background-color: #e7e7e7;
  margin-top: 62px;
  border-radius: 8px;
}

.footer-content {
  color: seagreen;
  font-family: cursive;
  font-size: 20px;
  padding-top: 1px;
  text-align: center;
}

.loginHeader{
  margin-bottom: 50px;
}




